<!DOCTYPE html>
<html>

    <head>

        <h1>Make your form here</h1>

    </head>

    <body>

        <form method = "POST" action = "/pirates">

            <h2>Pirate</h2>
                <h3>Your name here:</h3>
                <input type = "text" name = "pirate[name]">
                <br>
                <h3>Your weight here:</h3>
                <input type = "text" name = "pirate[weight]">
                <br>
                <h3>Your height here:</h3>
                <input type = "text" name = "pirate[height]">
                <br>
                <br>

            <h2>Ship(s)</h2>
                <h3>Your Ship's name here:</h3>
                <input type = "text" id = "ship_name_1" name = "pirate[ships][][name]">
                <br>
                <h3>Your Ship's type here:</h3>
                <input type = "text" id = "ship_type_1" name = "pirate[ships][][type]">
                <br>
                <h3>Your Ship's booty here:</h3>
                <input type = "text" id = "ship_booty_1" name = "pirate[ships][][booty]">
                <br>

                <h3>Your Ship's name here:</h3>
                <input type = "text" id = "ship_name_2" name = "pirate[ships][][name]">
                <br>
                <h3>Your Ship's type here:</h3>
                <input type = "text" id = "ship_type_2" name = "pirate[ships][][type]">
                <br>
                <h3>Your Ship's booty here:</h3>
                <input type = "text" id = "ship_booty_2" name = "pirate[ships][][booty]">
                <br>

            <input type = "submit" value = "Submit">

        </form> 
    </body>
</html>
